/* Base css */
body{
    background-color: 
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

img{
	max-width: 100%;
	height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
margin: 0 0 15px;
font-weight: 700;
}
body{
	font-family: 'open Sans', sans-serif;
}
a:hover{text-decoration: none;}
.section-padding{
	padding: 88px 0;
}
.product_bg_1{
    background-image: url(../img/1.jpg);
}
.product_bg_2{
    background-image: url(../img/2.jpg);
}
.product_bg_3{
    background-image: url(../img/3.jpg);
}
.product_bg_4{
    background-image: url(../img/4.jpg);
}
.product_bg_5{
    background-image: url(../img/5.jpg);
}
.section_title {
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
        margin-bottom: 28px;
}

.product_bg {
    position: relative;
    background-size: cover;
    height: 330px;
    z-index: 2;
    background-position: center top;
    background-color: #ddd;
    margin-bottom: 20px;
}

.ticker {
    position: absolute;
    right: 15px;
    top: 15px;
    height: 40px;
    width: 40px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 12px;
}

.ticker-green {background-color: #34b79d;}



.ticker-red {
    background-color: red;
}

.product_bottom_hover {
    position: absolute;
    left: 50%;
    width: 201px;
    background: #fff;
    margin-left: -100px;
    bottom: 30px;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}

.product_bottom_hover
 a {
    display: block;
    float: left;
    width: 33.33%;
    color: #333;
    text-align: center;
    padding: 13px;
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
}

.product_bottom_hovera:hover {
    background-color: #333;
    color: #fff;
}

.product_bottom_hover
 a:hover {
    background: #333;
    color: #fff;
    outline: none;
}

.single_product_box {
    text-align: center;
}

.single_product_box h4 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

p.price {
    margin: 0px;
    font-weight: 700;
    font-size: 110%;
}





.single_product_box:hover .product_bottom_hover {
    opacity: 1;
    visibility: visible;
    bottom: 30px;
}
.product_carousel .owl-nav div {
    height: 30px;
    width: 30px;
    background: #333;
    color: #fff;
    text-align: center;
    line-height: 29px;
    font-size: 22px;
    border-radius: 50%;
    position: absolute;
    opacity: .5;
    left: -15px;
    top: 50%;
    margin-top: -54px;
}

.product_carousel .owl-nav div.owl-next {left: auto;right: -15px;}